---
layout: default
title: "关于众筑"
description: "Hey, this is Webuild."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
</select> -->
<!-- Page Header -->
<link rel="stylesheet" href="/css/other.css">
<link rel="stylesheet" href="/css/hux-blog.css">
<header class="intro-header" style="margin-bottom:0px;background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1 style="font-size:4em;">关于众筑</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div _ngcontent-c1="" class="boxlist brand">
            <div _ngcontent-c1="" class="title"><h2 _ngcontent-c1="">我们的优势</h2></div>
            <div _ngcontent-c1="" class="box">
                <div _ngcontent-c1="" class="list">
                    <dl _ngcontent-c1="">
                        <dt _ngcontent-c1=""><img _ngcontent-c1="" alt="" src="/img/a-1.jpg"></dt>
                        <dd _ngcontent-c1="">
                            <h4 _ngcontent-c1="">行业经验丰富</h4>
                            <p _ngcontent-c1="">30年建筑行业和近20年钢结构行业从业经验，多项建筑工程设计和施工经验，涵盖桥梁、厂房、冷库、酒店等等</p>
                        </dd>
                    </dl>
                    <dl _ngcontent-c1="">
                        <dt _ngcontent-c1=""><img _ngcontent-c1="" alt="" src="/img/a-2.jpg"></dt>
                        <dd _ngcontent-c1="">
                            <h4 _ngcontent-c1="">全栈式服务</h4>
                            <p _ngcontent-c1="">从原材料供应、加工到钢结构方案设计、施工、维修，提供一站式服务，更高效，更经济</p>
                        </dd>
                    </dl>
                    <dl _ngcontent-c1="">
                        <dt _ngcontent-c1=""><img _ngcontent-c1="" alt="" src="/img/a-3.jpg"></dt>
                        <dd _ngcontent-c1="">
                            <h4 _ngcontent-c1="">服务模式灵活</h4>
                            <p _ngcontent-c1="">无论是整包还是分包，我们都可提供定制化服务</p>
                        </dd>
                    </dl>
                </div>
            </div>
</div>                            
<!-- <section class="header3 cid-r3oxDq1Ohn mbr-fullscreen box" id="header3-d" style="background-color:#ffffff">
    <h3 class="main-title">我们的优势</h3>
    <div class="box">
        <div class="hidden-xs" style="float:none;width: 50%;height:50%" align="top">
            <img src="img/ml.jpg" alt="Mobirise" title="" style="width:1%;height:1%" align="center">
        </div>
        <div class="mbr-section-text mbr-white pb-3 ">
            <p class="mbr-text mbr-fonts-style display-7">
            <h4 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"
             style="color:#111111;font-size:21px;font-weight:400;lettering-spacing:0.2em;">机器学习</h4>
            <br>运用机器学习模型帮助客户挖掘数据潜在价值，为业务增长赋能。</p>
        </div>
    </div>

    <div class="box">
        <div class="hidden-xs" style="float:none;width: 50%;height:50%" align="top">
            <img src="img/ml.jpg" alt="Mobirise" title="" style="width:1%;height:1%" align="center">
        </div>
        <div class="mbr-section-text mbr-white pb-3 ">
            <p class="mbr-text mbr-fonts-style display-7">
            <h4 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"
             style="color:#111111;font-size:21px;font-weight:400;lettering-spacing:0.2em;">机器学习</h4>
            <br>运用机器学习模型帮助客户挖掘数据潜在价值，为业务增长赋能。</p>
        </div>
    </div>

    <div class="box">
        <div class="hidden-xs" style="float:none;width: 50%;height:50%" align="top">
            <img src="img/ml.jpg" alt="Mobirise" title="" style="width:1%;height:1%" align="center">
        </div>
        <div class="mbr-section-text mbr-white pb-3 ">
            <p class="mbr-text mbr-fonts-style display-7">
            <h4 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"
             style="color:#111111;font-size:21px;font-weight:400;lettering-spacing:0.2em;">机器学习</h4>
            <br>运用机器学习模型帮助客户挖掘数据潜在价值，为业务增长赋能。</p>
        </div>
    </div>
</section> -->

<hr width="80%"> 
<div _ngcontent-c1="" class="boxlist brand">
            <div _ngcontent-c1="" class="title"><h2 _ngcontent-c1="">团队成员</h2></div>
</div>
<!-- Chinese Version -->
<div class="zh post-container" style="margin:0 200px;"">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en

            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";


    }

    // handle select change
    function onLanChange(index){

            window.location.hash = "#zh"

    }

    // init
    _render();
</script>


{% if site.disqus_username %}

{% endif %}
