---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="margin-bottom:0px;background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


</div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="gem-textbox centered-box"><div class="gem-textbox-inner" style=""><div class="gem-textbox-title" style=""><div class="gem-textbox-title-icon"><div class="gem-icon gem-icon-pack-material gem-icon-size-large  gem-icon-shape-circle" style="border-color: #ffffff;border-color: #304269;opacity: 1;"><div class="gem-icon-inner" style="background-color: #ffffff;"><span class="gem-icon-half-1" style="color: #304269;"><span class="back-angle"></span></span><span class="gem-icon-half-2" style="color: #304269;"><span class="back-angle"></span></span></div></div></div></div><div class="gem-textbox-content" style="background-position: center top;padding-top: 0px;">
    <div class="wpb_text_column wpb_content_element  vc_custom_1537819874003 custom-widget-title">
        <div class="wpb_wrapper">
            <h6 style="text-align: center; color: #304269;">数据服务</h6>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element  custom-widget-body">
        <div class="wpb_wrapper">
            <p style="text-align: center;">帮助客户挖掘数据潜在价值，面向客户指标优化，提供数据分析、算法设计、模型和系统优化服务，以数据赋能业务增长。</p>

        </div>
    </div>
</div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="gem-textbox centered-box"><div class="gem-textbox-inner" style=""><div class="gem-textbox-title" style=""><div class="gem-textbox-title-icon"><div class="gem-icon gem-icon-pack-material gem-icon-size-large  gem-icon-shape-circle" style="border-color: #ffffff;border-color: #f26101;opacity: 1;"><div class="gem-icon-inner" style="background-color: #ffffff;"><span class="gem-icon-half-1" style="color: #f26101;"><span class="back-angle"></span></span><span class="gem-icon-half-2" style="color: #f26101;"><span class="back-angle"></span></span></div></div></div></div><div class="gem-textbox-content" style="background-color: #ffffff;background-position: center top;padding-top: 0px;">
    <div class="wpb_text_column wpb_content_element  custom-widget-title">
        <div class="wpb_wrapper">
            <h6 style="text-align: center; color: #304269;">工程开发</h6>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element  custom-widget-body">
        <div class="wpb_wrapper">
            <p style="text-align: center;">供数据pipeline咨询及解决方案定制，完成客户数据系统及算法模型的原型开发及实践。</p>

        </div>
    </div>