---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="margin-bottom:0px;background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="header3 cid-r3otdsLP1U mbr-fullscreen" id="header3-9" style="background-color:#ffffff">
<div class="container">
    <div class="row", style="padding:40px">
<!--        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 "> -->
                <div class="hidden-xs" style="float:right;width: 50%;height:50%" align="center">
                    <img src="img/ml4.jpg" alt="Mobirise" title="" style="width:200;height:300" align="right">
                    <!-- <img src="http://i4.bvimg.com/634539/d3d1d3391a12d9e3.gif" alt="Mobirise" title=""> -->
                </div>
                <div class="media-content" style = "float:left">
<!--                     <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">游戏场景任意破坏与重建算法研究&nbsp;</h1>
                    <h3 class="mbr-section-subtitle align-left mbr-white mbr-light pb-3 mbr-fonts-style display-5">2018.7.3 - 2018.8.31 
<div>网易互娱梦幻事业部&nbsp;</div></h3> -->
                    <div class="mbr-section-text mbr-white pb-3 ">
                        <p class="mbr-text mbr-fonts-style display-7">
                            <h4 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"
                                style="color:#111111;font-size:21px;font-weight:400;lettering-spacing:0.2em;">数据服务</h4>
                            <br>帮助客户挖掘数据潜在价值，面向客户指标优化，提供数据分析、算法设计、模型和系统优化服务。</p>
                    </div>

                    <div class="mbr-section-btn"><a class="btn btn-md btn-white-outline display-4" href="https://github.com/CyC2018/CyC2018.github.io/blob/master/doc/%E6%B8%B8%E6%88%8F%E5%9C%BA%E6%99%AF%E4%BB%BB%E6%84%8F%E7%A0%B4%E5%9D%8F%E4%B8%8E%E9%87%8D%E5%BB%BA%E7%AE%97%E6%B3%95%E7%A0%94%E7%A9%B6.md" target="_blank">More</a>
                        </div>
<!-- </div> -->
                </div>
                        </div>

                </div>

</section>

<hr width="80%"> 
<section class="header3 cid-r3oxDq1Ohn mbr-fullscreen" id="header3-d" style="background-color:#ffffff">
<div class="container">
    <div class="row", style="padding:40px">
                <div class="hidden-xs" style="float:left;width: 50%" align="center">
                    <img src="img/workflow1.jpg" alt="Mobirise" title="" style="width:200;height:300" align="left">
                    <!-- <img src="http://i4.bvimg.com/634539/824e7a3e73bb13a1.png" alt="Mobirise" title=""> -->
                </div>
                <div class="media-content" style = "float:right">
                    <h4 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2"
                        style="color:#111111;font-size:21px;font-weight:400;lettering-spacing:0.2em;">工程开发</h4>
                    <div class="mbr-section-text mbr-white pb-3 ">
                        <p class="mbr-text mbr-fonts-style display-7">                                    
                            <br>提供数据pipeline咨询及解决方案定制，完成客户数据系统及算法模型的开发及实践。</p>
                    </div>
                </div>
            </div>
        </div>
</section>